# Config CORS 
CORS_ORIGIN=*

# Config PORT
PORT=8080

# PostgreSQL Docker
DB_PORT=5432
POSTGRES_USER=labor
POSTGRES_PASSWORD=labor_password
POSTGRES_DB=labor_project

# Prisma PostgreSQL connection
DATABASE_URL=postgresql://labor:labor_password@localhost:5432/labor_project

# JWT
JWT_ACCESS_SECRET=change-this-access-secret
JWT_REFRESH_SECRET=change-this-refresh-secret
JWT_LOGIN_CHALLENGE_SECRET=change-this-login-challenge-secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
JWT_LOGIN_CHALLENGE_EXPIRES_IN=5m

# Refresh token storage hash
REFRESH_TOKEN_HASH_SECRET=change-this-refresh-token-hash-secret
